


.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  min-width: 300px;
  justify-content: center;
  margin: 0 auto;
  align-items: flex-start;
  /* margin: 20px 50px; */
}

.card {
    position: relative;
    width: 300px;
    min-width: 300px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: lightskyblue;
    border: 2px solid black;
  }

  .cardOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
    z-index: 998; /* Ensure it's on top of everything */
  }

.expanded{
    /* position: relative; */
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    /* animation: moveToMiddle 0.5s ease forwards; */
}
.shrinking {
    /* top: initial;
    left: initial;
    transform: initial; */
    /* transition: all 0.5s ease; */

}
  
  .card-header {
    padding: 10px;
    border-bottom: 2px solid black;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-footer {
    padding: 10px;
    border-top: 2px solid black;
  }
  
  .task {
    margin-bottom: 8px;
    background-color: lightsalmon;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    /* flex-direction: row; */
    /* align-items: flex-start; */
  }


  .task label {
    margin-right: 10px;
    min-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .task input[type="checkbox"] {
    margin-top: 10px;
    /* position: relative; */
    /* min-height: 25px;
    min-width: 25px; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .task textarea {
    background-color: lightsalmon;
    border: none;
    margin: 5px;
    resize: vertical; /* Allow vertical resizing */
    width: calc(100% - 10px); /* Adjust width to account for margins */
    padding-top: 5px;
    padding-left: 10px;
    overflow-y: auto; /* Add vertical scrollbar when content exceeds height */
}
.task textarea::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.task textarea::-webkit-scrollbar-track {
  background: lightsalmon; /* Color of the scrollbar track */
}

.task textarea::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.task textarea::-webkit-scrollbar-thumb:hover {
  background-color: gray; /* Color of the scrollbar thumb on hover */
}

  .task:hover{
    background-color: lightgray;
    
  }

  .card-delete {
    top: -10px;
    right: -10px;
    position: absolute  ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 94, 94);
    font-size: small;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .card-delete:hover {
    background-color: red;
  }

  /* @keyframes moveToMiddle {
  } */
  /* @keyframes moveToMiddle {
    0% {
      left: 0;
      top: 0;
      transform: translate(0, 0);
    }
    100% {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  } */
  